.tab_container{
    color: #1C4980;
    display: flex;
    width: 90px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 2px;
    cursor: pointer;
}

.tab_name {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin-top: 6px;
}

.active_tab {
    border:1px solid #0073E6;
    background: #E5F1FC;
    color:#0073E6 !important
}