.dashboard_container {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    height: 100%;
    background-color: #fff;
    border-radius:12px;
}
.dashboard_subheading{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 16px;
    height: 25px;
}
.dashboard_subheading_text{
    color: #1C4980;
    font-size: 18px;
    font-weight: 400;
}

.swtichTabMobile{
    display:none;
}

@media  screen and (max-width:650px) {
    .swtichTabMobile{
        display:block;
    }
}
